<a href="https://colab.research.google.com/github/neuwbee/-Python-/blob/main/4%EC%A3%BC%EC%B0%A8%20%EC%88%98%EC%97%85%EB%82%B4%EC%9A%A9.py" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
a= [1,2,3,4,5]

In [2]:
# 1,2,3,4,5가 들어있는 리스트를 a에 할당하라.- 시험문제

In [4]:
i = 1

while i<10:
  print('출력')
  i = 10

출력

In [5]:
#. i를 원하는 개수만큼 출력시키고 싶을때: i : i+1 (i+1를 i에 할당하라) = i+=1

i = 1

while i<10:
  print('출력')
  i = i+1

출력
출력
출력
출력
출력
출력
출력
출력
출력

In [6]:
alphabet = ['a', 'b', 'c', 'd']

for each_char in alphabet:
  print(each_char)

a
b
c
d

In [8]:
range(1,100)

range(1, 100)

In [10]:
list(range(1,100))

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99]

In [11]:
list(range(1, 100, 2)) # 홀수, 짝수 출력할때 [1부터 100까지 2간격으로 생성하라]

[1,
 3,
 5,
 7,
 9,
 11,
 13,
 15,
 17,
 19,
 21,
 23,
 25,
 27,
 29,
 31,
 33,
 35,
 37,
 39,
 41,
 43,
 45,
 47,
 49,
 51,
 53,
 55,
 57,
 59,
 61,
 63,
 65,
 67,
 69,
 71,
 73,
 75,
 77,
 79,
 81,
 83,
 85,
 87,
 89,
 91,
 93,
 95,
 97,
 99]

In [12]:
for odd_num in range(1,10,2): # 1부터 10까지 2간격으로 odd_num이라는 반복문에 할당하라
  print(odd_num)

1
3
5
7
9

In [19]:
# Quiz 2
# 1+2+3+4+5+6+7+8+9

a = 1
total_num = 0
while a<10:
  total_num+= a
  print(total_num)
  a+=1

1
3
6
10
15
21
28
36
45

In [ ]:
left_num = 2


while left_num<10:
  print('<'+str(left_num)+'단>')

  right_num = 1
  while right_num<10:
    print(str(left_num)+'*'+str(right_num)+'='+str(left_num*right_num))
    right_num = right_num+1
left_num = left_num+1

In [26]:
|# Quiz 3
list_1 = list(range(1,10,2))
total_num=0

for each_number in list_1:
  #print(each_number)
  total_num = total_num + each_number
  print(total_num)

1
4
9
16
25

In [34]:
a = [1,2,3,4,5]

for each_num in a:
  print(each_num)
  if each_num ==3:

    break

    # print(each_num)의 위치에 따라 값이 달라짐

1
2
3

In [43]:
#. 연습문제 1
lunch_list = ['국밥', '돈까스', '김치찌개', '쌀국수', '햄버거']
index_num = len(lunch_list)
flag = 0

while flag<index_num:
  print(lunch_list[flag])
  flag = flag+1

국밥
돈까스
김치찌개
쌀국수
햄버거

In [40]:
#. 연습문제 2
lunch_list = ['국밥', '돈까스', '김치찌개', '쌀국수', '햄버거']

for each_menu in lunch_list:
  print(each_menu)

국밥
돈까스
김치찌개
쌀국수
햄버거

In [66]:
# 연습문제
user_input = int(input("숫자를 입력해주세요 : "))

total_num = 0
i = 0

while i<=user_input:

  total_num = total_num+i
  print(total_num)
  i = i+1

숫자를 입력해주세요 : 10
0
1
3
6
10
15
21
28
36
45
55